.link{
    display: flex;
    align-items: cover;
    cursor: pointer;
    border-radius: 30px;
  }
  .link:hover{
    background-color:aquamarine;
    color: #033d8e;
    transition: color 100ms ease-out;
  }
  .link > h2{
    font-weight: 700;
    font-size: 20px;
    margin-right: 20px;
  }